<html>

<head>
  <link rel='stylesheet' href='/vendor/bootstrap/dist/css/bootstrap.css' />
</head>

<body>
    </div>
    <ul class='nav nav-tabs' style='margin-bottom: 10px 0'>
          <li class='nav-item'>
            <a class='nav-link{% if path ==='/' %} active{% endif %}' href='/'>Home</a>
          </li>
          <li class='nav-item'>
            <a class='nav-link{% if path ==='/employees' %} active{% endif %}' href='/employees'>Employees</a>
          </li>
        </ul>
    </div>
  <div class='container'>
    <div>
      <h1>We have
        <span class="badge badge-primary"> </span> employees and
        <span class="badge badge-primary"> </span> managers!</h1>
    </div>
</body>

</html>